body{
  background-color: #1D1E40;
  color: #03B3CB;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
}

.root {
  min-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}


.app-container{
  margin: 1rem;
}

.character-list{
  display: grid;
  gap: 2rem;
  margin:1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
}

.character-container{
  background-color: #3735F0;
  border-radius: 2rem 4rem;
  padding: 1rem;
  overflow: auto;
}

.character-img{
  border-radius: 2rem 4rem ;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.button1{
  border: none;
  border-radius: 2rem 0 0 2rem;
}
.button-hidden{
  display: none;
}
.button2{
  border: none;
  border-radius: 0 2rem 2rem 0;
}
.status{
  display: flex;
  justify-content: space-between;
}
.alive{
  color: #8DED6F;
}
.dead{
  color: red;
}

.info{
  display: flex;
  justify-content: space-between;
}